<div class="container">

  <!-- Outer Row -->



    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="gmail">
        <img src="..\assets\imgs\pic4.png" width="450" height="400">
      </div>
      <div class="row">

        <div class="col-lg-6">
          <div class="p-5">


            <div class="text-center">


                  <span> <h2 style="color: black;">To reset your password, simply click on the link below</h2>
                  </span>
              <br>
              <br>

              <h3><a href="https://mail.google.com/mail"> Gmail </a></h3>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
