<div class="container">

  <!-- Outer Row -->



    <div class="card-body p-0">
      <div class="col-lg-6">
        <div class="p-5">


          <div class="text-center">


                <span> <h2 style="color: black;"><b>Welcome home!</b></h2>
                </span>




          </div>
        </div>
      </div>
      <!-- Nested Row within Card Body -->
      <div class="gmail">
        <img src="..\assets\imgs\pic6.png" width="500" height="500">
      </div>
      <div class="row">



      </div>
    </div>
  </div>
