.gmail{
  width: 465px;
  background-position: center;
  background-size: cover;
  margin-top: 15px;
margin: auto;
  }



  .mb-4{
    margin-top: 30px;
  }

  .form-group{
    justify-content: center;

  }

  .col-lg-6{
  margin: auto;

  }
