.newPassword{
  width: 465px;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 35px;

}

.btn
{
  /* Layout Properties */
top: 461px;
left: 1083px;
width: 150px;
height: 50px;
/* UI Properties */
background: #412997  0% 0% no-repeat padding-box;
border-radius: 25px;
opacity: 1;
color: white;
margin: auto;
margin-top: 10px;
}

.mb-4{
  margin-top: 50px;
}

.form-group{
  justify-content: center;

}

.col-lg-6{
margin: auto;

}
.text-center{
  justify-content: center;


}

.row{
  margin-top: -60px;

  }
