<div class="container">




      <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="fpwd">
            <img src="..\assets\imgs\pic3.png" width="430" height="400">
          </div>
          <div class="row">

              <div class="col-lg-6">
                  <div class="p-5">

                          <p class="mb-4"> Please provide your email address so we can send you a link to reset your password
                            </p>
                      </div>
                      <form class="user" [formGroup]="forgetform">
                          <div class="form-group">
                              <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." formControlName="email">
                          </div>
                          <button class="btn  btn-user btn-block" (click)="forgetPassword()" >
                             Send
                          </button>
                      </form>
                  </div>

                </div>
          </div>
      </div>

